<?xml version="1.0"?>
<!--
  ~ Copyright © Reach Digital (http://www.reachdigital.io/)
  ~ See LICENSE.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vendit>
            <directory_mapping>
                <import>
                    <product_path>vendit/import/products</product_path>
                    <product_file>Products.xml</product_file>
                    <stock_path>vendit/import/stock</stock_path>
                    <stock_file>Stock.xml</stock_file>
                    <category_path>vendit/import/categories</category_path>
                    <category_file>Groups.xml</category_file>
                    <customer_path>vendit/import/customers</customer_path>
                    <customer_file>Customers.xml</customer_file>
                    <order_path>vendit/import/orders</order_path>
                    <order_file>Orders.xml</order_file>
                </import>
                <export>
                    <customer_path>vendit/export/customers</customer_path>
                    <customer_file>Customers.xml</customer_file>
                    <order_path>vendit/export/orders</order_path>
                    <order_file>Orders.xml</order_file>
                </export>
            </directory_mapping>
        </vendit>
    </default>
</config>
