<?xml version="1.0"?>
<!--
  ~ Copyright © Reach Digital (https://www.reachdigital.io/)
  ~ See LICENSE.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vendit" translate="label" sortOrder="210">
            <label>Vendit</label>
        </tab>
        <section id="vendit" translate="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>General Configuration</label>
            <tab>vendit</tab>
            <resource>ReachDigital_Vendit::config</resource>
            <group id="attribute_mapping" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Product Attribute Mapping</label>
                <comment><![CDATA[Map Vendit Specs to Magento product attributes. Spec names are case-sensitive.]]></comment>
                <field id="size_attribute" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Size Attribute</label>
                    <comment><![CDATA[Select which product attribute to use for configurable product size variations (maps to Vendit 'Size' field).]]></comment>
                    <source_model>ReachDigital\Vendit\Model\Config\Source\ProductAttributes</source_model>
                </field>
                <field id="required_attributes" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Required Attributes</label>
                    <comment><![CDATA[Comma-separated list of Magento attribute codes (e.g., revenue_group, brand2, leverancier).
                    Products will be skipped during import if any of these attributes have empty values.
                    This prevents the import from failing when the supplied data is incomplete.]]></comment>
                </field>
                <field id="attributes" translate="label" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Attribute Mapping</label>
                    <frontend_model>ReachDigital\Vendit\Block\Adminhtml\Form\Field\AttributeMapping</frontend_model>
                    <backend_model>ReachDigital\Vendit\Model\Config\Backend\AttributeMapping</backend_model>
                </field>
            </group>
            <group id="directory_mapping" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Directory Mapping</label>
                <field id="var_directory_info" translate="label" type="label" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Base Directory</label>
                    <frontend_model>ReachDigital\Vendit\Block\Adminhtml\System\Config\VarDirectory</frontend_model>
                </field>
                <group id="import" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Import</label>
                    <field id="product_path" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Products File Path</label>
                    </field>
                    <field id="product_file" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Products File</label>
                    </field>
                    <field id="stock_path" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Stock File Path</label>
                    </field>
                    <field id="stock_file" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Stock File</label>
                    </field>
                    <field id="category_path" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Categories File Path</label>
                        <comment><![CDATA[Known as 'groups' in Vendit]]></comment>
                    </field>
                    <field id="category_file" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Categories File</label>
                        <comment><![CDATA[Known as 'groups' in Vendit]]></comment>
                    </field>
                    <field id="customer_path" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Customers File Path</label>
                    </field>
                    <field id="customer_file" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Customers File</label>
                    </field>
                    <field id="order_path" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Order Updates File Path</label>
                    </field>
                    <field id="order_file" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Order Updates File</label>
                    </field>
                </group>
                <group id="export" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Export</label>
                    <field id="product_path" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Products File Path</label>
                    </field>
                    <field id="product_file" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Products File</label>
                    </field>
                    <field id="stock_path" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Stock File Path</label>
                    </field>
                    <field id="stock_file" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Stock File</label>
                    </field>
                    <field id="category_path" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Categories File Path</label>
                        <comment><![CDATA[Known as 'groups' in Vendit]]></comment>
                    </field>
                    <field id="category_file" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Categories File</label>
                        <comment><![CDATA[Known as 'groups' in Vendit]]></comment>
                    </field>
                    <field id="customer_path" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Customers File Path</label>
                    </field>
                    <field id="customer_file" translate="label" type="text" sortOrder="45" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Customers File</label>
                    </field>
                    <field id="order_path" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Orders File Path</label>
                    </field>
                    <field id="order_file" translate="label" type="text" sortOrder="55" showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                        <label>Orders File</label>
                    </field>
                </group>
            </group>
        </section>
        <section id="vendit_export" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Manual Export</label>
            <tab>vendit</tab>
            <resource>ReachDigital_Vendit::config</resource>
            <group id="export" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Manual Export</label>
                <field id="manual_category_export" translate="label" type="button" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Manual Category Export</label>
                    <frontend_model>ReachDigital\Vendit\Block\Adminhtml\System\Config\CategoryExportButton</frontend_model>
                </field>
                <field id="last_category_export" translate="label" type="label" sortOrder="20" showInDefault="1">
                    <label>Last Category Export</label>
                    <frontend_model>ReachDigital\Vendit\Block\Adminhtml\System\Config\CategoryExportInfo</frontend_model>
                </field>
                <field id="manual_product_export" translate="label" type="button" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Manual Product Export</label>
                    <frontend_model>ReachDigital\Vendit\Block\Adminhtml\System\Config\ProductExportButton</frontend_model>
                </field>
                <field id="last_product_export" translate="label" type="label" sortOrder="40" showInDefault="1">
                    <label>Last Product Export</label>
                    <frontend_model>ReachDigital\Vendit\Block\Adminhtml\System\Config\ProductExportInfo</frontend_model>
                </field>
                <field id="manual_stock_export" translate="label" type="button" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Manual Stock Export</label>
                    <frontend_model>ReachDigital\Vendit\Block\Adminhtml\System\Config\StockExportButton</frontend_model>
                </field>
                <field id="last_stock_export" translate="label" type="label" sortOrder="60" showInDefault="1">
                    <label>Last Stock Export</label>
                    <frontend_model>ReachDigital\Vendit\Block\Adminhtml\System\Config\StockExportInfo</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
